In this project, we'll work with exit surveys from employees of the [Department of Education, Training and Employment](https://en.wikipedia.org/wiki/Department_of_Education_and_Training_(Queensland)) (DETE) and the Technical and Further Education (TAFE) institute in Queensland, Australia. We can find the TAFE exit survey [here](https://data.gov.au/dataset/ds-qld-89970a3b-182b-41ea-aea2-6f9f17b5907e/details?q=exit%20survey) and the survey for the DETE [here](https://data.gov.au/dataset/ds-qld-fe96ff30-d157-4a81-851d-215f2a0fe26d/details?q=exit%20survey).

In this project, we'll play the role of data analyst and pretend our stakeholders want to know the following:

* Are employees who only worked for the institutes for a short period of time resigning due to some kind of dissatisfaction? What about employees who have been there longer?
* Are younger employees resigning due to some kind of dissatisfaction? What about older employees?

In [92]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [93]:
dete_survey = pd.read_csv("dete_survey.csv")
tafe_survey = pd.read_csv("tafe_survey.csv")

In [94]:
dete_survey.head(2)

,ID,SeparationType,Cease Date,DETE Start Date,Role Start Date,Position,Classification,Region,Business Unit,Employment Status,...,Health & Safety,Gender,Age,Aboriginal,Torres Strait,South Sea,Disability,NESB,Unnamed: 56,Unnamed: 57
0,1,Ill Health Retirement,12-Aug,1984,2004,Public Servant,A01-A04,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,Male,56-60,NaN,NaN,NaN,NaN,Yes,NaN,NaN
1,2,Voluntary Early Retirement (VER),12-Aug,Not Stated,Not Stated,Public Servant,AO5-AO7,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,Male,56-60,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
tafe_survey.head(2)

,Record ID,Institute,WorkArea,CESSATION YEAR,Reason for ceasing employment,Contributing Factors. Career Move - Public Sector,Contributing Factors. Career Move - Private Sector,Contributing Factors. Career Move - Self-employment,Contributing Factors. Ill Health,Contributing Factors. Maternity/Family,...,Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?,Workplace. Topic:Does your workplace promote and practice the principles of employment equity?,Workplace. Topic:Does your workplace value the diversity of its employees?,Workplace. Topic:Would you recommend the Institute as an employer to others?,Gender. What is your Gender?,CurrentAge. Current Age,Employment Type. Employment Type,Classification. Classification,LengthofServiceOverall. Overall Length of Service at Institute (in years),LengthofServiceCurrent. Length of Service at current workplace (in years)
0,6.341330e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,Yes,Yes,Yes,Yes,Female,26 30,Temporary Full-time,Administration (AO),1-2,1-2
1,6.341337e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Retirement,-,-,-,-,-,...,Yes,Yes,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
dete_survey = pd.read_csv("dete_survey.csv", na_values = "Not Stated")
dete_survey.head(2)

,ID,SeparationType,Cease Date,DETE Start Date,Role Start Date,Position,Classification,Region,Business Unit,Employment Status,...,Health & Safety,Gender,Age,Aboriginal,Torres Strait,South Sea,Disability,NESB,Unnamed: 56,Unnamed: 57
0,1,Ill Health Retirement,12-Aug,1984.0,2004.0,Public Servant,A01-A04,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,Male,56-60,NaN,NaN,NaN,NaN,Yes,NaN,NaN
1,2,Voluntary Early Retirement (VER),12-Aug,NaN,NaN,Public Servant,AO5-AO7,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,Male,56-60,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
dete_survey.columns

Index(['ID', 'SeparationType', 'Cease Date', 'DETE Start Date',
       'Role Start Date', 'Position', 'Classification', 'Region',
       'Business Unit', 'Employment Status', 'Career move to public sector',
       'Career move to private sector', 'Interpersonal conflicts',
       'Job dissatisfaction', 'Dissatisfaction with the department',
       'Physical work environment', 'Lack of recognition',
       'Lack of job security', 'Work location', 'Employment conditions',
       'Maternity/family', 'Relocation', 'Study/Travel', 'Ill Health',
       'Traumatic incident', 'Work life balance', 'Workload',
       'None of the above', 'Professional Development',
       'Opportunities for promotion', 'Staff morale', 'Workplace issue',
       'Physical environment', 'Worklife balance',
       'Stress and pressure support', 'Performance of supervisor',
       'Peer support', 'Initiative', 'Skills', 'Coach', 'Career Aspirations',
       'Feedback', 'Further PD', 'Communication', 'My say', 'Information',
       'Kept informed', 'Wellness programs', 'Health & Safety', 'Gender',
       'Age', 'Aboriginal', 'Torres Strait', 'South Sea', 'Disability', 'NESB',
       'Unnamed: 56', 'Unnamed: 57'],
      dtype='object')

In [98]:
len(dete_survey.columns)

58

In [99]:
dete_survey.shape

(822, 58)

In [100]:
822*56

46032

In [101]:
tafe_survey.shape

(702, 72)

In [102]:
702*72

50544

In [103]:
tafe_survey.columns

Index(['Record ID', 'Institute', 'WorkArea', 'CESSATION YEAR',
       'Reason for ceasing employment',
       'Contributing Factors. Career Move - Public Sector ',
       'Contributing Factors. Career Move - Private Sector ',
       'Contributing Factors. Career Move - Self-employment',
       'Contributing Factors. Ill Health',
       'Contributing Factors. Maternity/Family',
       'Contributing Factors. Dissatisfaction',
       'Contributing Factors. Job Dissatisfaction',
       'Contributing Factors. Interpersonal Conflict',
       'Contributing Factors. Study', 'Contributing Factors. Travel',
       'Contributing Factors. Other', 'Contributing Factors. NONE',
       'Main Factor. Which of these was the main factor for leaving?',
       'InstituteViews. Topic:1. I feel the senior leadership had a clear vision and direction',
       'InstituteViews. Topic:2. I was given access to skills training to help me do my job better',
       'InstituteViews. Topic:3. I was given adequate opportunities for personal development',
       'InstituteViews. Topic:4. I was given adequate opportunities for promotion within %Institute]Q25LBL%',
       'InstituteViews. Topic:5. I felt the salary for the job was right for the responsibilities I had',
       'InstituteViews. Topic:6. The organisation recognised when staff did good work',
       'InstituteViews. Topic:7. Management was generally supportive of me',
       'InstituteViews. Topic:8. Management was generally supportive of my team',
       'InstituteViews. Topic:9. I was kept informed of the changes in the organisation which would affect me',
       'InstituteViews. Topic:10. Staff morale was positive within the Institute',
       'InstituteViews. Topic:11. If I had a workplace issue it was dealt with quickly',
       'InstituteViews. Topic:12. If I had a workplace issue it was dealt with efficiently',
       'InstituteViews. Topic:13. If I had a workplace issue it was dealt with discreetly',
       'WorkUnitViews. Topic:14. I was satisfied with the quality of the management and supervision within my work unit',
       'WorkUnitViews. Topic:15. I worked well with my colleagues',
       'WorkUnitViews. Topic:16. My job was challenging and interesting',
       'WorkUnitViews. Topic:17. I was encouraged to use my initiative in the course of my work',
       'WorkUnitViews. Topic:18. I had sufficient contact with other people in my job',
       'WorkUnitViews. Topic:19. I was given adequate support and co-operation by my peers to enable me to do my job',
       'WorkUnitViews. Topic:20. I was able to use the full range of my skills in my job',
       'WorkUnitViews. Topic:21. I was able to use the full range of my abilities in my job. ; Category:Level of Agreement; Question:YOUR VIEWS ABOUT YOUR WORK UNIT]',
       'WorkUnitViews. Topic:22. I was able to use the full range of my knowledge in my job',
       'WorkUnitViews. Topic:23. My job provided sufficient variety',
       'WorkUnitViews. Topic:24. I was able to cope with the level of stress and pressure in my job',
       'WorkUnitViews. Topic:25. My job allowed me to balance the demands of work and family to my satisfaction',
       'WorkUnitViews. Topic:26. My supervisor gave me adequate personal recognition and feedback on my performance',
       'WorkUnitViews. Topic:27. My working environment was satisfactory e.g. sufficient space, good lighting, suitable seating and working area',
       'WorkUnitViews. Topic:28. I was given the opportunity to mentor and coach others in order for me to pass on my skills and knowledge prior to my cessation date',
       'WorkUnitViews. Topic:29. There was adequate communication between staff in my unit',
       'WorkUnitViews. Topic:30. Staff morale was positive within my work unit',
       'Induction. Did you undertake Workplace Induction?',
       'InductionInfo. Topic:Did you undertake a Corporate Induction?',
       'InductionInfo. Topic:Did you undertake a Institute Induction?',
       'InductionInfo. Topic: Did you undertake Team Induction?',
       'InductionInfo. Face to Face Topic:Did you undertake a Corporate Induction; Category:How it was conducted?',
       'InductionInfo. On-line Topic:Did you undertake a Corporate Induction; Category:How it was conducted?',
       'InductionInfo. Induction Manual Topic:Did you undertake a Corporate Induction?',
       'InductionInfo. Face to Face Topic:Did you undertake a Institute Induction?',
       'InductionInfo. On-line Topic:Did you undertake a Institute Induction?',
       'InductionInfo. Induction Manual Topic:Did you undertake a Institute Induction?',
       'InductionInfo. Face to Face Topic: Did you undertake Team Induction; Category?',
       'InductionInfo. On-line Topic: Did you undertake Team Induction?process you undertook and how it was conducted.]',
       'InductionInfo. Induction Manual Topic: Did you undertake Team Induction?',
       'Workplace. Topic:Did you and your Manager develop a Performance and Professional Development Plan (PPDP)?',
       'Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?',
       'Workplace. Topic:Does your workplace promote and practice the principles of employment equity?',
       'Workplace. Topic:Does your workplace value the diversity of its employees?',
       'Workplace. Topic:Would you recommend the Institute as an employer to others?',
       'Gender. What is your Gender?', 'CurrentAge. Current Age',
       'Employment Type. Employment Type', 'Classification. Classification',
       'LengthofServiceOverall. Overall Length of Service at Institute (in years)',
       'LengthofServiceCurrent. Length of Service at current workplace (in years)'],
      dtype='object')

In [104]:
dete_survey.columns[28:49]
tafe_survey.columns[17:66]

Index(['Main Factor. Which of these was the main factor for leaving?',
       'InstituteViews. Topic:1. I feel the senior leadership had a clear vision and direction',
       'InstituteViews. Topic:2. I was given access to skills training to help me do my job better',
       'InstituteViews. Topic:3. I was given adequate opportunities for personal development',
       'InstituteViews. Topic:4. I was given adequate opportunities for promotion within %Institute]Q25LBL%',
       'InstituteViews. Topic:5. I felt the salary for the job was right for the responsibilities I had',
       'InstituteViews. Topic:6. The organisation recognised when staff did good work',
       'InstituteViews. Topic:7. Management was generally supportive of me',
       'InstituteViews. Topic:8. Management was generally supportive of my team',
       'InstituteViews. Topic:9. I was kept informed of the changes in the organisation which would affect me',
       'InstituteViews. Topic:10. Staff morale was positive within the Institute',
       'InstituteViews. Topic:11. If I had a workplace issue it was dealt with quickly',
       'InstituteViews. Topic:12. If I had a workplace issue it was dealt with efficiently',
       'InstituteViews. Topic:13. If I had a workplace issue it was dealt with discreetly',
       'WorkUnitViews. Topic:14. I was satisfied with the quality of the management and supervision within my work unit',
       'WorkUnitViews. Topic:15. I worked well with my colleagues',
       'WorkUnitViews. Topic:16. My job was challenging and interesting',
       'WorkUnitViews. Topic:17. I was encouraged to use my initiative in the course of my work',
       'WorkUnitViews. Topic:18. I had sufficient contact with other people in my job',
       'WorkUnitViews. Topic:19. I was given adequate support and co-operation by my peers to enable me to do my job',
       'WorkUnitViews. Topic:20. I was able to use the full range of my skills in my job',
       'WorkUnitViews. Topic:21. I was able to use the full range of my abilities in my job. ; Category:Level of Agreement; Question:YOUR VIEWS ABOUT YOUR WORK UNIT]',
       'WorkUnitViews. Topic:22. I was able to use the full range of my knowledge in my job',
       'WorkUnitViews. Topic:23. My job provided sufficient variety',
       'WorkUnitViews. Topic:24. I was able to cope with the level of stress and pressure in my job',
       'WorkUnitViews. Topic:25. My job allowed me to balance the demands of work and family to my satisfaction',
       'WorkUnitViews. Topic:26. My supervisor gave me adequate personal recognition and feedback on my performance',
       'WorkUnitViews. Topic:27. My working environment was satisfactory e.g. sufficient space, good lighting, suitable seating and working area',
       'WorkUnitViews. Topic:28. I was given the opportunity to mentor and coach others in order for me to pass on my skills and knowledge prior to my cessation date',
       'WorkUnitViews. Topic:29. There was adequate communication between staff in my unit',
       'WorkUnitViews. Topic:30. Staff morale was positive within my work unit',
       'Induction. Did you undertake Workplace Induction?',
       'InductionInfo. Topic:Did you undertake a Corporate Induction?',
       'InductionInfo. Topic:Did you undertake a Institute Induction?',
       'InductionInfo. Topic: Did you undertake Team Induction?',
       'InductionInfo. Face to Face Topic:Did you undertake a Corporate Induction; Category:How it was conducted?',
       'InductionInfo. On-line Topic:Did you undertake a Corporate Induction; Category:How it was conducted?',
       'InductionInfo. Induction Manual Topic:Did you undertake a Corporate Induction?',
       'InductionInfo. Face to Face Topic:Did you undertake a Institute Induction?',
       'InductionInfo. On-line Topic:Did you undertake a Institute Induction?',
       'InductionInfo. Induction Manual Topic:Did you undertake a Institute Induction?',
       'InductionInfo. Face to Face Topic: Did you undertake Team Induction; Category?',
       'InductionInfo. On-line Topic: Did you undertake Team Induction?process you undertook and how it was conducted.]',
       'InductionInfo. Induction Manual Topic: Did you undertake Team Induction?',
       'Workplace. Topic:Did you and your Manager develop a Performance and Professional Development Plan (PPDP)?',
       'Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?',
       'Workplace. Topic:Does your workplace promote and practice the principles of employment equity?',
       'Workplace. Topic:Does your workplace value the diversity of its employees?',
       'Workplace. Topic:Would you recommend the Institute as an employer to others?'],
      dtype='object')

In [105]:
dete_survey_updated = dete_survey.drop(dete_survey.columns[28:49],axis = 1)
tafe_survey_updated = tafe_survey.drop(tafe_survey.columns[17:66],axis = 1)

In [106]:
dete_survey_updated.shape

(822, 37)

In [107]:
tafe_survey_updated.shape

(702, 23)

In [108]:
sep_type  reason ceasing
0`          0
.
.
.            701
.
821

SyntaxError: invalid syntax (<ipython-input-108-b6f5c080bffd>, line 1)

In [109]:
'\ID'

'\\ID'

In [110]:
dete_survey_updated.columns = dete_survey_updated.columns.str.lower().str.strip().str.replace(" ", "_")

In [111]:
dete_survey_updated.columns

Index(['id', 'separationtype', 'cease_date', 'dete_start_date',
       'role_start_date', 'position', 'classification', 'region',
       'business_unit', 'employment_status', 'career_move_to_public_sector',
       'career_move_to_private_sector', 'interpersonal_conflicts',
       'job_dissatisfaction', 'dissatisfaction_with_the_department',
       'physical_work_environment', 'lack_of_recognition',
       'lack_of_job_security', 'work_location', 'employment_conditions',
       'maternity/family', 'relocation', 'study/travel', 'ill_health',
       'traumatic_incident', 'work_life_balance', 'workload',
       'none_of_the_above', 'gender', 'age', 'aboriginal', 'torres_strait',
       'south_sea', 'disability', 'nesb', 'unnamed:_56', 'unnamed:_57'],
      dtype='object')

In [112]:
tafe_survey_updated.columns

Index(['Record ID', 'Institute', 'WorkArea', 'CESSATION YEAR',
       'Reason for ceasing employment',
       'Contributing Factors. Career Move - Public Sector ',
       'Contributing Factors. Career Move - Private Sector ',
       'Contributing Factors. Career Move - Self-employment',
       'Contributing Factors. Ill Health',
       'Contributing Factors. Maternity/Family',
       'Contributing Factors. Dissatisfaction',
       'Contributing Factors. Job Dissatisfaction',
       'Contributing Factors. Interpersonal Conflict',
       'Contributing Factors. Study', 'Contributing Factors. Travel',
       'Contributing Factors. Other', 'Contributing Factors. NONE',
       'Gender. What is your Gender?', 'CurrentAge. Current Age',
       'Employment Type. Employment Type', 'Classification. Classification',
       'LengthofServiceOverall. Overall Length of Service at Institute (in years)',
       'LengthofServiceCurrent. Length of Service at current workplace (in years)'],
      dtype='object')

In [113]:
mapping = {'Record ID': 'id', 
           'CESSATION YEAR': 'cease_date', 
           'Reason for ceasing employment': 'separationtype',
           'Gender. What is your Gender?': 'gender', 
           'CurrentAge. Current Age': 'age',
       'Employment Type. Employment Type': 'employment_status',
       'Classification. Classification': 'position',
       'LengthofServiceOverall. Overall Length of Service at Institute (in years)': 'institute_service',
       'LengthofServiceCurrent. Length of Service at current workplace (in years)': 'role_service'}

In [114]:
# tafe_survey_updated.columns = ['Record ID', 'Institute', 'WorkArea', 'CESSATION YEAR',
#        'Reason for ceasing employment',
#        'Contributing Factors. Career Move - Public Sector ',
#        'Contributing Factors. Career Move - Private Sector ',
#        'Contributing Factors. Career Move - Self-employment',
#        'Contributing Factors. Ill Health',
#        'Contributing Factors. Maternity/Family',
#        'Contributing Factors. Dissatisfaction',
#        'Contributing Factors. Job Dissatisfaction',
#        'Contributing Factors. Interpersonal Conflict',
#        'Contributing Factors. Study', 'Contributing Factors. Travel',
#        'Contributing Factors. Other', 'Contributing Factors. NONE',
#        'Gender. What is your Gender?', 'CurrentAge. Current Age',
#        'Employment Type. Employment Type', 'Classification. Classification',
#        'LengthofServiceOverall. Overall Length of Service at Institute (in years)',
#        'LengthofServiceCurrent. Length of Service at current workplace (in years)']

In [115]:
# tafe_survey_updated = tafe_survey_updated.rename(mapping,axis = "columns")
tafe_survey_updated.rename(mapping,axis = "columns", inplace = True)

In [116]:
tafe_survey_updated.columns

Index(['id', 'Institute', 'WorkArea', 'cease_date', 'separationtype',
       'Contributing Factors. Career Move - Public Sector ',
       'Contributing Factors. Career Move - Private Sector ',
       'Contributing Factors. Career Move - Self-employment',
       'Contributing Factors. Ill Health',
       'Contributing Factors. Maternity/Family',
       'Contributing Factors. Dissatisfaction',
       'Contributing Factors. Job Dissatisfaction',
       'Contributing Factors. Interpersonal Conflict',
       'Contributing Factors. Study', 'Contributing Factors. Travel',
       'Contributing Factors. Other', 'Contributing Factors. NONE', 'gender',
       'age', 'employment_status', 'position', 'institute_service',
       'role_service'],
      dtype='object')

In [117]:
# tafe_survey_updated.columns.str.replace('age', "AGE")

In [118]:
dete_survey_updated["separationtype"].value_counts()

Age Retirement                          285
Resignation-Other reasons               150
Resignation-Other employer               91
Resignation-Move overseas/interstate     70
Voluntary Early Retirement (VER)         67
Ill Health Retirement                    61
Other                                    49
Contract Expired                         34
Termination                              15
Name: separationtype, dtype: int64

In [119]:
tafe_survey_updated["separationtype"].value_counts()

Resignation                 340
Contract Expired            127
Retrenchment/ Redundancy    104
Retirement                   82
Transfer                     25
Termination                  23
Name: separationtype, dtype: int64

In [120]:
dete_survey_updated["separationtype"].unique()

array(['Ill Health Retirement', 'Voluntary Early Retirement (VER)',
       'Resignation-Other reasons', 'Age Retirement',
       'Resignation-Other employer',
       'Resignation-Move overseas/interstate', 'Other',
       'Contract Expired', 'Termination'], dtype=object)

In [121]:
change = {'Ill Health Retirement':'Ill Health Retirement', 
 'Voluntary Early Retirement (VER)':'Voluntary Early Retirement (VER)',
       'Resignation-Other reasons':"Resignation", 
 'Age Retirement':'Age Retirement',
       'Resignation-Other employer':"Resignation",
       'Resignation-Move overseas/interstate':"Resignation", 'Other':'Other',
       'Contract Expired':'Contract Expired', 'Termination':'Termination'}

dete_survey_updated["separationtype"].map(change).value_counts(dropna = False)

Resignation                         311
Age Retirement                      285
Voluntary Early Retirement (VER)     67
Ill Health Retirement                61
Other                                49
Contract Expired                     34
Termination                          15
Name: separationtype, dtype: int64

In [122]:
dete_survey_updated["separationtype"] = dete_survey_updated["separationtype"].map(change)

In [123]:
dete_survey_updated["separationtype"].value_counts()

Resignation                         311
Age Retirement                      285
Voluntary Early Retirement (VER)     67
Ill Health Retirement                61
Other                                49
Contract Expired                     34
Termination                          15
Name: separationtype, dtype: int64

In [124]:
dete_survey_updated.shape

(822, 37)

In [125]:
bol_res = dete_survey_updated["separationtype"]=="Resignation"

dete_survey_updated[bol_res].shape

(311, 37)

In [126]:
dete_survey_res = dete_survey_updated[bol_res].copy()

In [127]:
tafe_survey_updated.shape

(702, 23)

In [128]:
bol = tafe_survey_updated["separationtype"]=="Resignation"
tafe_survey_res = tafe_survey_updated[bol].copy()

In [129]:
tafe_survey_res.shape

(340, 23)

In [130]:
dete_survey_res.columns

Index(['id', 'separationtype', 'cease_date', 'dete_start_date',
       'role_start_date', 'position', 'classification', 'region',
       'business_unit', 'employment_status', 'career_move_to_public_sector',
       'career_move_to_private_sector', 'interpersonal_conflicts',
       'job_dissatisfaction', 'dissatisfaction_with_the_department',
       'physical_work_environment', 'lack_of_recognition',
       'lack_of_job_security', 'work_location', 'employment_conditions',
       'maternity/family', 'relocation', 'study/travel', 'ill_health',
       'traumatic_incident', 'work_life_balance', 'workload',
       'none_of_the_above', 'gender', 'age', 'aboriginal', 'torres_strait',
       'south_sea', 'disability', 'nesb', 'unnamed:_56', 'unnamed:_57'],
      dtype='object')

In [131]:
tafe_survey_res.columns

Index(['id', 'Institute', 'WorkArea', 'cease_date', 'separationtype',
       'Contributing Factors. Career Move - Public Sector ',
       'Contributing Factors. Career Move - Private Sector ',
       'Contributing Factors. Career Move - Self-employment',
       'Contributing Factors. Ill Health',
       'Contributing Factors. Maternity/Family',
       'Contributing Factors. Dissatisfaction',
       'Contributing Factors. Job Dissatisfaction',
       'Contributing Factors. Interpersonal Conflict',
       'Contributing Factors. Study', 'Contributing Factors. Travel',
       'Contributing Factors. Other', 'Contributing Factors. NONE', 'gender',
       'age', 'employment_status', 'position', 'institute_service',
       'role_service'],
      dtype='object')

In [132]:
dete_survey_res["cease_date"]
dete_survey_res["dete_start_date"]

3      2005.0
5      1994.0
8      2009.0
9      1997.0
11     2009.0
12     1998.0
14     2007.0
16        NaN
20     1982.0
21     1980.0
22     1997.0
23     1973.0
25     1995.0
27     2005.0
33     2003.0
34     2006.0
37     2011.0
39        NaN
40     1977.0
41     1974.0
42     2011.0
43     1976.0
48     2009.0
50     2009.0
51     1993.0
55     2008.0
57     2003.0
61     2011.0
69     2006.0
71     2011.0
87     2007.0
90     1986.0
93     2002.0
99     2011.0
100    2006.0
102    2002.0
103    2004.0
106       NaN
108    2008.0
111    2004.0
112    2007.0
114    1997.0
116    1976.0
118    2010.0
124    2012.0
126    1980.0
130    2012.0
132    2007.0
135    1994.0
138    2004.0
140       NaN
145    2007.0
147    2003.0
158    2011.0
160    2003.0
164    2005.0
179    2012.0
183    1998.0
185    2005.0
189    2006.0
192    1995.0
195    1989.0
196       NaN
197    2005.0
204    2008.0
205    2006.0
210    2007.0
212    1986.0
214    1999.0
223    1996.0
224    2009.0
228    1994.0
235    2009.0
247    2007.0
248    2011.0
250    2006.0
254    2000.0
255    2008.0
256    2005.0
257    2012.0
258    2007.0
259    2008.0
262    2011.0
263    2009.0
264    2011.0
267    2011.0
268    2011.0
269    2010.0
273    1991.0
274    2011.0
279    1992.0
283    2007.0
284    2007.0
285    2012.0
286    2012.0
288       NaN
291       NaN
293       NaN
295    1980.0
296    2006.0
300    1996.0
301       NaN
303    2005.0
304    2009.0
311    2001.0
312    1999.0
314    2001.0
317    1989.0
318    2012.0
320    2011.0
322    2007.0
324    2011.0
325    2000.0
326    2008.0
332    2011.0
333    2012.0
340    2005.0
343       NaN
345    1988.0
347    2008.0
348    1980.0
354    2007.0
355    1992.0
356    2003.0
365       NaN
366    2010.0
367    2012.0
371    2012.0
374    1992.0
375    1999.0
376    2007.0
377    1990.0
379       NaN
381    2008.0
383    1994.0
388    2007.0
389    1985.0
390    2000.0
391    2007.0
398    1993.0
399       NaN
405       NaN
406    1991.0
407       NaN
408    2006.0
409       NaN
410    2008.0
412    2008.0
414    1997.0
415    2011.0
416    1963.0
417    2008.0
419    2012.0
423    2008.0
432    2008.0
433    1993.0
434    2006.0
437    2002.0
438       NaN
439    1992.0
441    2010.0
449       NaN
451    2009.0
452    1991.0
454    2013.0
456    2013.0
459    2011.0
461    2010.0
464    2002.0
466    2000.0
470    1990.0
471       NaN
473    1997.0
476    2008.0
477    2004.0
478    2000.0
479    2013.0
481    1990.0
485    2005.0
486    1993.0
489       NaN
492    1974.0
494    1988.0
495    2012.0
497    2009.0
499    2013.0
500    2002.0
503    1972.0
504    2008.0
505    1989.0
506    2009.0
517    2007.0
531       NaN
533    1999.0
534    2008.0
536    2007.0
538       NaN
539    2007.0
541    1996.0
543    2011.0
547    2010.0
550    2000.0
551    2011.0
552    2005.0
557    2011.0
562    2012.0
563    1990.0
568    2000.0
569    2010.0
571    1998.0
575    2004.0
576    2004.0
577    1994.0
584    2008.0
585    2012.0
586    1999.0
588    2011.0
589    1985.0
590    2005.0
592    2001.0
593    2005.0
601    2010.0
604    1996.0
607    2004.0
608    2004.0
610    1989.0
612    1993.0
613    2010.0
617    1996.0
619    2003.0
621    1983.0
623    2004.0
625    2011.0
626    2010.0
631    2006.0
637    2013.0
641    2010.0
642    2010.0
647    1992.0
649    1995.0
650    1996.0
651    2010.0
652    1986.0
658    1971.0
659    1998.0
662       NaN
664    1999.0
666    2012.0
667    2011.0
669    2013.0
670    2013.0
671    2009.0
676    2010.0
678    2012.0
682    1988.0
683    2011.0
684    2004.0
685    1985.0
687    2013.0
690    2004.0
691    1998.0
692    2012.0
693    2010.0
694    2012.0
696    2008.0
698    2010.0
700    2007.0
701    1988.0
703    2013.0
704    2006.0
709       NaN
712       NaN
716    2000.0
724    1984.0
726    1975.0
727    1980.0
730    1999.0
731    1992.0
735    2006.0
737    1999.0
744    1991.0
747    2008.0
751    2005.0
752    1998.0
753    2004.0
755    2012.0
762    2006.0
766    2007.0
769    2008.0
770    1987.0
771    2002.0
774    2005.0
784    2013.0
786    1994.0
788    1990.0
789    1983.0
790    2008.0
791    2007.0
794       NaN
797    2000.0
798    1995.0
802       NaN
803    2004.0
804    2008.0
806    2005.0
807    2004.0
808    2010.0
815    2012.0
816    2012.0
819    2009.0
821       NaN
Name: dete_start_date, dtype: float64

In [133]:
# dete_survey_res["cease_date"].str[-4:].astype(float)
dete_survey_res["cease_date"] = dete_survey_res["cease_date"].str.split("/")\
.str.get(-1).astype(float) # str[-1]

ValueError: could not convert string to float: '12-May'

In [134]:
dete_survey_res['institute_service'] = dete_survey_res["cease_date"] - \
dete_survey_res["dete_start_date"]

TypeError: unsupported operand type(s) for -: 'str' and 'float'

In [135]:
dete_survey_res.columns

Index(['id', 'separationtype', 'cease_date', 'dete_start_date',
       'role_start_date', 'position', 'classification', 'region',
       'business_unit', 'employment_status', 'career_move_to_public_sector',
       'career_move_to_private_sector', 'interpersonal_conflicts',
       'job_dissatisfaction', 'dissatisfaction_with_the_department',
       'physical_work_environment', 'lack_of_recognition',
       'lack_of_job_security', 'work_location', 'employment_conditions',
       'maternity/family', 'relocation', 'study/travel', 'ill_health',
       'traumatic_incident', 'work_life_balance', 'workload',
       'none_of_the_above', 'gender', 'age', 'aboriginal', 'torres_strait',
       'south_sea', 'disability', 'nesb', 'unnamed:_56', 'unnamed:_57'],
      dtype='object')

In [136]:
dete_survey_res['institute_service'].head()

KeyError: 'institute_service'

In [137]:
pd.options.display.max_rows = None
tafe_survey_res['institute_service']

3                     NaN
4                     3-4
5                    7-10
6                     3-4
7                     3-4
8                     3-4
9                     1-2
10       Less than 1 year
13                  11-20
14                   7-10
15                  11-20
16                    NaN
17                   7-10
18                    NaN
19                    NaN
20                    NaN
21                    NaN
22                    5-6
23       Less than 1 year
24                   7-10
26                    NaN
27     More than 20 years
29       Less than 1 year
32       Less than 1 year
36                    NaN
37                    NaN
39                    NaN
40       Less than 1 year
41                  11-20
42                    3-4
45                  11-20
46     More than 20 years
47       Less than 1 year
49                    3-4
51                    NaN
52                    3-4
53                    NaN
54                    NaN
55       Less than 1 year
56                    3-4
58                    3-4
63                    3-4
64                  11-20
65       Less than 1 year
66                    1-2
69                    3-4
71                   7-10
72                    5-6
74       Less than 1 year
79       Less than 1 year
80                   7-10
81                    5-6
82                    5-6
84                    3-4
85                   7-10
86                    3-4
87                    NaN
88       Less than 1 year
89       Less than 1 year
91                    NaN
92                  11-20
93                  11-20
94                    NaN
96       Less than 1 year
97                    NaN
98                    1-2
100                   5-6
101                   NaN
102                   NaN
103      Less than 1 year
104                 11-20
105                   3-4
107      Less than 1 year
109      Less than 1 year
113                   NaN
114                  7-10
116                 11-20
118                 11-20
119      Less than 1 year
121                   3-4
122                   3-4
124      Less than 1 year
125      Less than 1 year
126      Less than 1 year
128                   3-4
129                   1-2
130                   NaN
131                   1-2
132      Less than 1 year
133                   3-4
134                   3-4
135                   NaN
136                   5-6
137                   3-4
138                   NaN
145                   1-2
148      Less than 1 year
149      Less than 1 year
150                   3-4
151      Less than 1 year
152      Less than 1 year
153      Less than 1 year
159      Less than 1 year
160      Less than 1 year
161      Less than 1 year
164    More than 20 years
167                   5-6
168      Less than 1 year
169                   NaN
172                   1-2
174                   3-4
175                   1-2
178                   5-6
179                   3-4
180                   3-4
181                   3-4
183      Less than 1 year
184                   1-2
185                   1-2
186                   1-2
189                   5-6
191                   1-2
192      Less than 1 year
193                   5-6
194      Less than 1 year
196                   1-2
197                   3-4
200      Less than 1 year
203      Less than 1 year
204                   NaN
207                   1-2
208                   1-2
211                   1-2
215      Less than 1 year
217                   1-2
220                   1-2
221                 11-20
224                   5-6
228                   3-4
229                   1-2
231                   1-2
233      Less than 1 year
234                   NaN
235                   3-4
236      Less than 1 year
237                   1-2
238                 11-20
240      Less than 1 year
241                   3-4
242      Less than 1 year
243                   NaN
245      Less than 1 year
246                   1-2
254                   3-4
256                   1-2
258                   NaN
259                   5-6
263                   3-4
270                   1-2
274                 11-20
275                   1-2
276                   NaN
277    More than 20 years
279                   NaN
280                   5-6
287                   NaN
288      Less than 1 year
293      Less than 1 year
294    More than 20 years
295    More than 20 years
299                 11-20
301                   5-6
303    More than 20 years
307                 11-20
310    More than 20 years
312                 11-20
315                 11-20
316      Less than 1 year
320                   3-4
321                   3-4
326    More than 20 years
338      Less than 1 year
341                   1-2
371      Less than 1 year
373                   NaN
374                   3-4
375                   1-2
377                   3-4
383      Less than 1 year
386                   3-4
389                   5-6
391                 11-20
395                   1-2
396      Less than 1 year
398                  7-10
399                   1-2
400                   1-2
401                 11-20
404                   1-2
405                 11-20
407                  7-10
409      Less than 1 year
412                   NaN
413                 11-20
416                   3-4
419                   5-6
420                   1-2
421                 11-20
423                   NaN
424                   3-4
434                   1-2
436                  7-10
437                   NaN
439      Less than 1 year
441                   3-4
442                   5-6
448                   1-2
451                   1-2
452                   1-2
453                   1-2
463    More than 20 years
469      Less than 1 year
471      Less than 1 year
478                   5-6
495      Less than 1 year
503      Less than 1 year
505                 11-20
506      Less than 1 year
507                   1-2
508                   1-2
509      Less than 1 year
512                   5-6
513                   NaN
516                   1-2
517                 11-20
519                   1-2
520                   5-6
522                   3-4
523      Less than 1 year
524                   1-2
525                   1-2
526                   3-4
528                  7-10
530                   NaN
531      Less than 1 year
533                   NaN
534                   1-2
535                   NaN
536                   1-2
537                   1-2
538                   1-2
539                   NaN
542                   1-2
543                   3-4
544                   3-4
545                   1-2
546                   3-4
550                   3-4
551                   3-4
555                 11-20
558                   1-2
561                   1-2
563      Less than 1 year
564                   5-6
567                  7-10
573                  7-10
574      Less than 1 year
576                  7-10
577      Less than 1 year
578                   1-2
579                   NaN
580      Less than 1 year
586                   5-6
588                   3-4
589                   3-4
591                  7-10
592                  7-10
593                   1-2
595                   3-4
596                   1-2
602                   1-2
603                   3-4
606                  7-10
610                   3-4
614                   1-2
621                   NaN
622                   5-6
623                  7-10
625                   NaN
626                   3-4
627                   5-6
628                   NaN
630                   5-6
634                   3-4
635                   5-6
636                   3-4
637                   5-6
639                   3-4
640                   3-4
641                 11-20
642                   1-2
644      Less than 1 year
645      Less than 1 year
647                  7-10
648                   5-6
650                  7-10
652                   3-4
654                   1-2
655      Less than 1 year
658      Less than 1 year
659                   1-2
660                   3-4
661                   5-6
665                   NaN
666                   NaN
669                   3-4
670                   NaN
671      Less than 1 year
675      Less than 1 year
676                   1-2
677      Less than 1 year
678                   3-4
679                   1-2
681      Less than 1 year
682      Less than 1 year
683      Less than 1 year
684                   3-4
685                   1-2
686                   5-6
688                   5-6
689      Less than 1 year
690                   NaN
691                   3-4
693                   1-2
694                   NaN
696                   5-6
697                   1-2
698                   NaN
699                   5-6
701                   3-4
Name: institute_service, dtype: object

In [138]:
tafe_survey_res['institute_service'] = tafe_survey_res['institute_service'].str.extract("(\d+)")[0].astype(float)
                                                                           # 0 is a col name of extracted data.

In [139]:
# tafe_survey_res['institute_service'].str.extractall("(\d+)")

In [140]:
tafe_survey_res['institute_service'].head()

3    NaN
4    3.0
5    7.0
6    3.0
7    3.0
Name: institute_service, dtype: float64

In [160]:
dete_survey_res['institute_service'].head()

KeyError: 'institute_service'

In [142]:
tafe_survey_res['institute_service'].value_counts().sort_index()

1.0     137
3.0      63
5.0      33
7.0      21
11.0     26
20.0     10
Name: institute_service, dtype: int64

In [143]:
dete_survey_res['institute_service'].value_counts().sort_index()

KeyError: 'institute_service'

In [144]:
def cat(value):
    if value > 11:
        return "Veteran"
    elif value > 7 and value <= 11:
        return "Established"
    elif  3 < value <= 7:
        return "Experienced"
    elif pd.isnull(value):
        return np.nan
    else:
        return "New"

In [145]:
# pd.isnull(np.nan)

In [146]:
tafe_survey_res["service_cat"] = tafe_survey_res["institute_service"].apply(cat)
dete_survey_res["service_cat"] = dete_survey_res["institute_service"].apply(cat)

KeyError: 'institute_service'

In [147]:
tafe_survey_res.head()
dete_survey_res.head()

,id,separationtype,cease_date,dete_start_date,role_start_date,position,classification,region,business_unit,employment_status,...,none_of_the_above,gender,age,aboriginal,torres_strait,south_sea,disability,nesb,unnamed:_56,unnamed:_57
3,4,Resignation,12-May,2005.0,2006.0,Teacher,Primary,Central Queensland,NaN,Permanent Full-time,...,False,Female,36-40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,Resignation,12-May,1994.0,1997.0,Guidance Officer,NaN,Central Office,Education Queensland,Permanent Full-time,...,False,Female,41-45,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,Resignation,12-Jul,2009.0,2009.0,Teacher,Secondary,North Queensland,NaN,Permanent Full-time,...,False,Female,31-35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,Resignation,2012,1997.0,2008.0,Teacher Aide,NaN,NaN,NaN,Permanent Part-time,...,False,Female,46-50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,Resignation,2012,2009.0,2009.0,Teacher,Secondary,Far North Queensland,NaN,Permanent Full-time,...,False,Male,31-35,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
dete_survey_res.columns

Index(['id', 'separationtype', 'cease_date', 'dete_start_date',
       'role_start_date', 'position', 'classification', 'region',
       'business_unit', 'employment_status', 'career_move_to_public_sector',
       'career_move_to_private_sector', 'interpersonal_conflicts',
       'job_dissatisfaction', 'dissatisfaction_with_the_department',
       'physical_work_environment', 'lack_of_recognition',
       'lack_of_job_security', 'work_location', 'employment_conditions',
       'maternity/family', 'relocation', 'study/travel', 'ill_health',
       'traumatic_incident', 'work_life_balance', 'workload',
       'none_of_the_above', 'gender', 'age', 'aboriginal', 'torres_strait',
       'south_sea', 'disability', 'nesb', 'unnamed:_56', 'unnamed:_57'],
      dtype='object')

In [149]:
tafe_survey_res.columns

Index(['id', 'Institute', 'WorkArea', 'cease_date', 'separationtype',
       'Contributing Factors. Career Move - Public Sector ',
       'Contributing Factors. Career Move - Private Sector ',
       'Contributing Factors. Career Move - Self-employment',
       'Contributing Factors. Ill Health',
       'Contributing Factors. Maternity/Family',
       'Contributing Factors. Dissatisfaction',
       'Contributing Factors. Job Dissatisfaction',
       'Contributing Factors. Interpersonal Conflict',
       'Contributing Factors. Study', 'Contributing Factors. Travel',
       'Contributing Factors. Other', 'Contributing Factors. NONE', 'gender',
       'age', 'employment_status', 'position', 'institute_service',
       'role_service', 'service_cat'],
      dtype='object')

In [150]:
tafe_survey_res['Contributing Factors. Dissatisfaction'].value_counts(dropna = False)

-                                         277
Contributing Factors. Dissatisfaction      55
NaN                                         8
Name: Contributing Factors. Dissatisfaction, dtype: int64

In [151]:
tafe_survey_res['Contributing Factors. Job Dissatisfaction'].value_counts(dropna = False)

-                      270
Job Dissatisfaction     62
NaN                      8
Name: Contributing Factors. Job Dissatisfaction, dtype: int64

In [152]:
def dis(string):
    if "-" in string:
        return False
    elif pd.isnull(string):
        return False
    else:
        return True

In [153]:
cols = ['Contributing Factors. Dissatisfaction',
       'Contributing Factors. Job Dissatisfaction']
tafe_survey_res[cols].astype(str).applymap(dis).any(axis = 1)

3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
13     False
14      True
15     False
16      True
17      True
18      True
19     False
20      True
21     False
22     False
23     False
24     False
26      True
27     False
29     False
32     False
36     False
37     False
39     False
40      True
41     False
42     False
45     False
46     False
47      True
49     False
51      True
52      True
53     False
54      True
55     False
56     False
58      True
63     False
64      True
65      True
66     False
69     False
71      True
72     False
74      True
79      True
80     False
81     False
82     False
84     False
85     False
86      True
87     False
88     False
89     False
91     False
92     False
93     False
94     False
96      True
97      True
98      True
100     True
101     True
102     True
103     True
104    False
105    False
107    False
109    False
113     True
114     True
116    False
118    False
119    False
121    False
122    False
124     True
125     True
126     True
128    False
129    False
130    False
131    False
132    False
133    False
134     True
135     True
136    False
137    False
138    False
145    False
148    False
149    False
150    False
151    False
152    False
153    False
159     True
160    False
161    False
164     True
167    False
168    False
169     True
172    False
174    False
175    False
178    False
179    False
180     True
181     True
183     True
184     True
185     True
186    False
189    False
191    False
192    False
193    False
194     True
196    False
197    False
200    False
203     True
204     True
207    False
208     True
211    False
215    False
217    False
220     True
221     True
224    False
228    False
229    False
231    False
233    False
234     True
235    False
236    False
237     True
238    False
240    False
241     True
242    False
243    False
245    False
246    False
254    False
256    False
258     True
259    False
263    False
270    False
274    False
275    False
276     True
277    False
279    False
280    False
287    False
288     True
293    False
294     True
295    False
299    False
301     True
303     True
307    False
310     True
312    False
315    False
316    False
320    False
321    False
326     True
338    False
341    False
371    False
373     True
374    False
375    False
377    False
383    False
386     True
389    False
391    False
395     True
396    False
398    False
399     True
400    False
401     True
404    False
405    False
407    False
409    False
412     True
413    False
416    False
419     True
420    False
421     True
423    False
424    False
434    False
436    False
437     True
439    False
441     True
442    False
448    False
451    False
452     True
453     True
463    False
469    False
471    False
478     True
495    False
503    False
505    False
506     True
507    False
508     True
509    False
512     True
513     True
516    False
517    False
519    False
520     True
522    False
523    False
524     True
525     True
526    False
528     True
530    False
531    False
533    False
534     True
535    False
536    False
537    False
538     True
539    False
542    False
543    False
544     True
545    False
546    False
550     True
551    False
555    False
558    False
561    False
563    False
564    False
567    False
573    False
574    False
576    False
577    False
578    False
579    False
580    False
586     True
588     True
589     True
591    False
592    False
593    False
595     True
596    False
602    False
603    False
606     True
610     True
614    False
621    False
622    False
623    False
625     True
626    False
627     True
628    False
630    False
634    False
635    False
636    False
637    False
639    False
640    False
641     True
642    False
644    False
645    False
647     True
648    False
650    False
652    False
654     True
655    False
658    False
659    False
660    False
661     True
665    False
666    False
669    False
670     True
671     True
675     True
676    False
677    False
678    False
679    False
681    False
682    False
683    False
684    False
685     True
686    False
688    False
689     True
690    False
691    False
693    False
694    False
696    False
697    False
698    False
699    False
701    False
dtype: bool

In [154]:
tafe_survey_res["dissatisfied"] = tafe_survey_res[cols].astype(str).applymap(dis).any(axis = 1)

In [155]:
dis = ['job_dissatisfaction',
       'dissatisfaction_with_the_department', 'physical_work_environment',
       'lack_of_recognition', 'lack_of_job_security', 'work_location',
       'employment_conditions', 'work_life_balance',
       'workload']

dete_survey_res["dissatisfied"] = dete_survey_res[dis].any(axis = "columns")

In [156]:
combined_survey = pd.concat([dete_survey_res,tafe_survey_res], axis = 0, ignore_index = True)

In [157]:
combined_survey.tail()

,id,separationtype,cease_date,dete_start_date,role_start_date,position,classification,region,business_unit,employment_status,...,Contributing Factors. Dissatisfaction,Contributing Factors. Job Dissatisfaction,Contributing Factors. Interpersonal Conflict,Contributing Factors. Study,Contributing Factors. Travel,Contributing Factors. Other,Contributing Factors. NONE,institute_service,role_service,service_cat
646,6.350660e+17,Resignation,2013,NaN,NaN,Operational (OO),NaN,NaN,NaN,Temporary Full-time,...,-,-,-,-,-,-,-,5.0,5-6,Experienced
647,6.350668e+17,Resignation,2013,NaN,NaN,Teacher (including LVT),NaN,NaN,NaN,Temporary Full-time,...,-,-,-,-,-,-,-,1.0,1-2,New
648,6.350677e+17,Resignation,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,-,-,-,-,-,-,NaN,NaN,NaN
649,6.350704e+17,Resignation,2013,NaN,NaN,Teacher (including LVT),NaN,NaN,NaN,Permanent Full-time,...,-,-,-,-,-,Other,-,5.0,1-2,Experienced
650,6.350730e+17,Resignation,2013,NaN,NaN,Administration (AO),NaN,NaN,NaN,Contract/casual,...,-,-,-,-,Travel,-,-,3.0,1-2,New

In [158]:
combined_survey.shape

(651, 55)

In [159]:
combined_survey.isnull().sum()

id                                                       0
separationtype                                           0
cease_date                                              16
dete_start_date                                        368
role_start_date                                        380
position                                                53
classification                                         490
region                                                 386
business_unit                                          619
employment_status                                       54
career_move_to_public_sector                           340
career_move_to_private_sector                          340
interpersonal_conflicts                                340
job_dissatisfaction                                    340
dissatisfaction_with_the_department                    340
physical_work_environment                              340
lack_of_recognition                                    340
lack_of_job_security                                   340
work_location                                          340
employment_conditions                                  340
maternity/family                                       340
relocation                                             340
study/travel                                           340
ill_health                                             340
traumatic_incident                                     340
work_life_balance                                      340
workload                                               340
none_of_the_above                                      340
gender                                                  59
age                                                     55
aboriginal                                             644
torres_strait                                          651
south_sea                                              648
disability                                             643
nesb                                                   642
unnamed:_56                                            650
unnamed:_57                                            651
dissatisfied                                             0
Institute                                              311
WorkArea                                               311
Contributing Factors. Career Move - Public Sector      319
Contributing Factors. Career Move - Private Sector     319
Contributing Factors. Career Move - Self-employment    319
Contributing Factors. Ill Health                       319
Contributing Factors. Maternity/Family                 319
Contributing Factors. Dissatisfaction                  319
Contributing Factors. Job Dissatisfaction              319
Contributing Factors. Interpersonal Conflict           319
Contributing Factors. Study                            319
Contributing Factors. Travel                           319
Contributing Factors. Other                            319
Contributing Factors. NONE                             319
institute_service                                      361
role_service                                           361
service_cat                                            361
dtype: int64